$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {

  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover {

  color: #fff;
  text-decoration: none;

}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('tests.jpg');
  background-size: repeat;
  height: 600px;
}

.jumbotron h1 {
  color: blue;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color:black;
  border-color: blue;
}

.btn-xlarge:hover {
  background-color:blue;
}

.footer {
  margin-top: 100px;
  border-top: 2px solid black;
  padding-top: 10px;
  padding-left: 10px;
}

.footer ul {
  float: right;
  padding-right: 10px;
  list-style: none;
}

.list-hide {
  list-style: none;
}