<div class="containar">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.mash.edu">Med Assist School of Hawaii</a>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
      </small>
  </footer>
  </div>